body {
            font-family: Arial, sans-serif;
            background-image: url("https://cdn.pixabay.com/photo/2017/06/10/16/22/coffee-2390136_1280.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover; /* Ensure the background image covers the entire container */
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }
		
		.body-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .picture-container {
            position: absolute;
            top: 20px;
            left: 150px;
            max-width: 200px; 
        }

        .picture-container img {
            width: 100%;
            height: auto;
            border-radius: 50%; 
        }

        .about-container {
            background-color: rgba(255, 255, 255, 0.4);
            border-radius: 8px;
            padding: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            max-width: 600px;
        }

        h1, p, .section-title, li {
            font-size: 16px;
            margin-bottom: 10px;
            color: black;
        }

        h1 {
            font-size: 24px;
            margin-bottom: 10px;
        }

        .section-title {
            font-size: 20px;
            margin-top: 20px;
        }

        ul {
            list-style-type: disc;
            padding-left: 20px;
        }

        .back-button {
			text-align: center;
			margin-top: 20px;
		}

        .back-button a {
            display: inline-block;
            padding: 10px 20px;
            background-color: #0073e6;
            color: white;
            text-decoration: none;
            border-radius: 5px;
        }